.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 350px;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px; /* 위아래 간격 */
  column-gap: 24px; /* 좌우 간격 */
  padding: 20px 20px 20px 20px; 
  background-image: url('/texture/woodshelf.svg');
  background-size: cover; /* 이미지를 전체 영역에 맞게 조절 */
  background-position: center; /* 이미지를 중앙에 배치 */
}
.album-grid-item {
  position: relative; /* 가상 요소를 위한 상대 위치 설정 */
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: perspective(1000px) rotateX(17deg); /* 아이템을 뒤쪽으로 기울이기 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 아이템의 그림자 */
  overflow: hidden; /* 가상 요소가 아이템을 벗어나지 않도록 설정 */
}

.album-grid-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.15));  */
  pointer-events: none; /* 오버레이가 클릭을 방해하지 않도록 설정 */
  transition: background 0.3s ease;
}

.album-grid-item:hover {

  transform: perspective(1000px) rotateX(0deg) scale(1.05); /* 호버 시 평면으로 복귀하고 확대 */
}
.album-grid-item:hover::before {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0)); /* 호버 시 밝기 변경 */
}
.album-image {
  width: 100%;
  height: auto;
}

.album-info {
  text-align: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}


.popup-content {
  padding: 0; 
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  transition: transform 0.1s ease;
}
.popup-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* 마우스 이벤트 차단 */
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0));
  transition: 0.1s ease;
}
.popup-image {
  max-width: 100%;
  max-height: 100%;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}