/* styles/Album.module.css */
.albumPage {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.particleImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.trackList {
  position: fixed; /* Fix the sidebar to the side */
  top: 0;
  left: 0px;
  width: 350px;
  height: 100%;
  background-color: rgba(0, 0, 0);
  padding: 20px;
  color: white;
  overflow-y: 'scroll';
  transform: translateX(-80%); /* Hide sidebar by default */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
  z-index: 3;
}

/* Sidebar appears when hovering over the container */
.trackList:hover {
  transform: translateX(0);
}

.trackItem {
  margin-bottom: 10px;
  cursor: pointer;
}

.trackItem:hover {
  color: #1db954;
}

.trackListContent {
  position: relative;
  height: 100%;
}

.customImage {
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-90%);
  width: 80px; /* 원하는 크기로 조정하세요 */
  height: auto;
  z-index: 4;
  transition: transform 0.3s ease-in-out;
}

.flipped {
  transform: translateY(-90%) scaleX(-1);
}